<% provide(:title, "About") %>
<h1>Sample App</h1>
<p>
  This is the ABOUT page for the
  <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
</p>

<p>
  Since this is an ABOUT page, let me tell you something About this page ... it's good.
</p>